
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AubuChon</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <link href="~/Content/Custom.css" rel="stylesheet" />
</head>
<body>
    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>
    <div style="text-align:center;margin-top:50px;">
        <input type="hidden" id="hdnDeviceType" />
        <h4><span id="spheadone"></span></h4>
        <h5><span id="spheadtwo">Click here to download the App</span></h5>
        <a id="btndownload" href="javascript:void(0);" onclick="launchApp();" class="btn btn-primary">Download App</a>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $(".loader-wrapper").hide();
            window.addEventListener("blur", function (e) {
                window.location.href = '@Url.Action("App","Home")';
                e.preventDefault();

                return false;
            }, false);
        });


        if (/webOS|iPhone|iPad|iPod|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $("#hdnDeviceType").val("ios");
            $("#spheadone").text("You are browsing site from iOS  device");
        }
        else if (/Android/i.test(navigator.userAgent)) {
            $("#spheadone").text("You are browsing site from Android device");
            $("#hdnDeviceType").val("android");
        }
        else {
            $("#hdnDeviceType").val("web");
            $("#spheadone").text("Sorry, but your browser is not supported");
            $('#spheadtwo').hide();
            $('#btndownload').hide();
        }

        function launchApp() {
            $(".loader-wrapper").show();
            var clickTime = new Date().getSeconds();
            var now = new Date().valueOf();
            window.location.href = "Aubuchon://";
            setTimeout(function () {
                this.OpenStore(clickTime);
            }, 5000)
        }
        function OpenStore(clickTime) {
            $(".loader-wrapper").hide();
            var currentTime = new Date().getSeconds();
            if ((currentTime - clickTime) <= 5) {
                if ($("#hdnDeviceType").val() == "android") {
                    window.location.href = "https://play.google.com/store/apps/details?id=com.google.android.gm&hl=en";
                }
                else if ($("#hdnDeviceType").val() == "ios") {
                    window.location.href = "https://itunes.apple.com/us/app/gmail-email-by-google/id422689480?mt=8";
                }
            }
        }
    </script>
</body>
</html>
